@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --cor0: #ffd044;
  --cor1: lightgray;
  --cor2: #281259;
  --cor3: #c04bf2;
  --cor4: #9f2cbf;
  --cor5: #73168c;

  --font01: Bebas Neue, serif;
  --font02: idroid, cursive;
  --font03: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
}

body {
  background-color: var(--cor1);
  font: normal 1em var(--font03);
  cursor: url('../imagens/cursor.cur'), auto;
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5));
  padding: 20px 0px 10px 10px;
  max-width: 100%;
  box-shadow: 3px 3px 5px #063d1e57;
}

header > h1 {
  font: normal 3em var(--font01);
  color: white;
  text-align: center;
  margin: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.597);
}

header > div {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

header > div > img {
  width: 30px;
}

header > p {
  font-size: 1.2em;
  color: white;
  text-align: center;
  width: 600px;
  max-width: 100%;
  margin: 30px auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.597);
}

nav {
  margin-top: 20px;
  margin-bottom: 5px;
}

nav > a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav > a:hover {
  background-color: var(--cor2);
  color: white;
  border-radius: 5px;
  transition-duration: 0.5s;
  cursor: url('../imagens/click.png'), auto;
}

main {
  background-color: white;
  width: 1040px;
  max-width: 100%;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 3px 3px 5px rgba(6, 61, 30, 0.377);
}

main > p {
  text-align: justify;
  padding-bottom: 30px;
  text-indent: 2em;
  padding: 15px 0px 15px 0px;
}

article {
  padding: 40px;
}

article > h1,
h2 {
  color: var(--cor5);
  font: normal 1.8em var(--font02);
  padding-left: 10px;
  margin: 10px 0px 10px 0px;
}

article > p {
  line-height: 30px;
  text-indent: 2em;
  padding: 15px 0px 15px 0px;
  text-align: justify;
}

img {
  width: 100%;
}

aside {
  background-color: lightgray;
  padding: 10px;
  max-width: 94%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(22, 22, 22, 0.582);
}

aside > h3 {
  color: white;
  background-color: var(--cor2);
  padding: 10px;
  margin: -10px -10px 15px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside > p {
  padding: 10px 0px 10px 0px;
  line-height: 30px;
  text-indent: 2em;
  text-align: justify;
}

aside > ul {
  columns: 2;
}

aside > ul > li {
  padding-bottom: 5px;
  list-style-type: '\2714\00A0';
}

footer {
  color: white;
  background-color: var(--cor5);
  padding: 10px;
  margin-top: 30px;
}

footer > p {
  text-align: center;
  font-weight: bold;
}

footer > p > a {
  text-decoration: none;
  color: var(--cor2);
}

.links {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: var(--cor2);
  padding: 5px;
  border-radius: 5px;
}

.links::after {
  content: ' \1F517';
}

.links:hover {
  text-decoration: underline;
  cursor: url('../imagens/click.png'), auto;
}

strong {
  color: var(--cor2);
}

strong#especial {
  color: var(--cor0);
}

.link-especial::after {
  content: ' \1F517';
}

.link-especial:hover {
  text-decoration: underline;
  cursor: url('../imagens/click.png'), auto;
}

#topBtn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  background-color: #6a0dad;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#topBtn:hover {
  background-color: #5a00b0;
}
