@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(to right, #8963ca, #61409b);
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}

header > img {
  width: 300px;
  margin-bottom: -30px;
}

hr {
  margin: auto;
  width: 200px;
}

header > nav {
  position: relative;
  bottom: 40px;
  text-align: end;
}

header > nav > a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  margin: 15px;
}

section {
  background-color: rgba(0, 0, 0, 0.11);
  margin: auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
section > h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  padding: 25px;
  margin-bottom: -25px;
}
.sub-conteudo {
  font-variant: small-caps;
  font-size: 1.8em;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  padding-bottom: 20px;
}
section#corpo-conteudo {
  text-align: center;
}

section#corpo-conteudo img {
  margin-top: -20px;
  padding-left: 10px;
  width: 30px;
}

section#corpo-biografia > p {
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: justify;
  text-indent: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sub-biografia {
  background-color: rgb(212, 213, 214);
  color: rgb(92, 24, 202);
  font-family: 'Funnel Sans', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
}
